<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create">Create-users</a></li>
    </ul>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>

        </tr>
        <% if (users && users.length> 0) { %>
            <% users.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/edit/<%= user.id %>">Edit</a>
                        <form action="/delete/<%= user.id %>" method="POST" style="display:inline;">
                            <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="4">Không có dữ liệu người dùng</td>
                        </tr>
                        <% } %>
    </table>
</body>

</html>